<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Add Game</title>
  </head>
  <body>
    <%- include('navbar') %>
    <div class="pageContent">
      <div class="formContainer">
        <form action="" method="post">
          <label for="gameName">Game Name: </label>
          <input type="text" id="gameName" name="gameName" class="search" />
          <label for="genre">Genre: </label>
          <div class="developerSelect">
            <% genres.forEach(genre => { %>
            <label for="<%-genre.genre%>"><%- genre.genre %></label>
            <input
              type="checkbox"
              name="genre"
              id="<%-genre.genre%>"
              value="<%- genre.genre %>"
            />
            <% }) %>
          </div>
          <label for="gameDeveloper">Game Developer: </label>
          <div class="developerSelect">
            <% devs.forEach(dev => { %>
            <label for="<%-dev.developer%>"><%- dev.developer %></label>
            <input
              type="checkbox"
              name="developer"
              id="<%-dev.developer%>"
              value="<%- dev.developer %>"
            />
            <% }) %>
          </div>
          <button type="submit" id="gameSubmit">Add</button>
        </form>
      </div>
    </div>
    <%- include('footer') %>
  </body>
</html>
